// your scss files should import here
body {
  display: flex;
  // justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.loading {
  font-size: 4rem;

  color: gray;
}
