/*font-link*, when we have the font downloaded on my machine*/
@font-face {
  font-family: "Josefin Sens";
  url: ../fonts;
}
h1 {
  font-family: "Josefin Sens", sans-serif;
}
/*CSS measurnments - em and rem units*/
/*font size*/
/*the parent element for the div is the root*/
div {
  font-size: 20px;
}
/*using em and rem units*/
/*paragraph is the child element for the div*/
/*em has to do with the parent and rem has to to with the */

/*2em *20px we multiply */
/*em is borrowed from the typography world, and it’s a unit 
that allows setting the font-size of an element relative 
to the font-size of its parent.*/

p {
  font-size: 2em; /*em looks what is the value of my parent element*/
}

/*by using the rem unit, the values of parent elements are ignored,
 and only the value of the root is taken into consideration.*/

/*em units for the font-size property will be relative 
to the font-size of the parent element. em units on other 
properties than font-size will be relative to the font-size of 
the current element. rem units sizes will always be relative to 
the font-size of the root html element.*/

/*Like ems, rems are a scalable CSS unit but are more robust and predictable. 
Introduced as part of CSS3, rems (“root em”) are relative to the root 
(the <html> element) rather than the parent. This instantly makes life
 much simpler.*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  /* add variables */
  --color-font: black;
  --padding-main-text: 2rem;
}
/* font-link */
@font-face {
  font-family: "Indie Flower", cursive;
  src: url(../fonts/IndieFlower-Regular.ttf);
}
.main-text {
  margin: 0 auto;
  padding: var(--padding-main-text);
  width: 40vw;
  background-color: azure;
  /* font-family */
  font-family: "Indie Flower", cursive;
}
h1 {
  color: var(--color-font);
  /* font-size */
  font-size: 3rem;
  /* text.align */
  text-align: center;
  /* text shadow */
  text-shadow: 2px 2px 2px purple;
}
h1:hover {
  /* text transform */
  text-transform: uppercase;
  /* direction */
  direction: ltr;
  /* writing mode */
  writing-mode: vertical-lr;
  /* text-orientation */
  text-orientation: upright;
}
span {
  font-size: 3rem;
  text-shadow: 2px 2px 2px purple;
}
p {
  font-size: 1.2rem;
  /* font-style */
  font-style: oblique 90deg;
  /* font-weight */
  font-weight: 500;
  /* font-shorthand */
  font: oblique 90deg 1.2rem "Indie Flower";
  /* font-variant */
  font-variant: normal;
  /* line-height */
  line-height: 2rem;
  /* text-indent */
  text-indent: 2rem;
}
