/* main container */
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: lightseagreen;
  font-size: large;
}

/* result from js */
.repositories {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* input form */
.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 25vw;
}

.form label {
  font-size: medium;
}

.inputText {
  padding: 0.1em;
  font-size: medium;
}

.btn {
  background-color: orange;
  padding: 0.5em;
  border-radius: 5%;
}

/* Github widget box styling */
.widget-box {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-decoration: none;
  color: rgb(110, 106, 106);
  border: 1px solid lightblue;
  padding: 1.5rem;
  width: 35vw;
  background-color: white;
}

.widget-box:hover {
  background-color: lightgray;
}

.widget-box p {
  color: rgb(66, 65, 65);
}