* {
  box-sizing: border-box;
  margin: 0;
}
/* Main container */
.main-container {
  margin: 80px auto;
  width: 100vw;
  height: 100vh;
}
/* Images container */
.img1-container {
  text-align: center;
  position: relative;
  top: 280px;
  left: 450px;
  width: fit-content;
}
.img2-container {
  text-align: center;
  position: relative;
  top: -20px;
  left: 560px;
  width: fit-content;
}
.img3-container {
  text-align: center;
  position: relative;
  left: 740px;
  top: -290px;
  width: fit-content;
}
.img4-container {
  text-align: center;
  position: relative;
  top: -110px;
  left: 580px;
  width: fit-content;
}
.img5-container {
  text-align: center;
  position: relative;
  top: -240px;
  left: 810px;
  width: fit-content;
  /* border: 1px solid black; */
}
/*
.img6-container {
  text-align: center;
  position: relative;
  top: -240px;
  left: 810px;
  width: fit-content;
*/
/* Images */

.img1 {
  width: 250px;
  filter: grayscale(50);
  opacity: 0.7;
  transition: 3s;
  z-index: auto;
  box-shadow: 3px 3px 3px black;
}
.img2 {
  width: 250px;
  filter: grayscale(50);
  opacity: 0.3;
  transition: 3s;
  transform: rotate(25deg);
  z-index: auto;
  box-shadow: 3px 3px 3px black;
}
.img3 {
  width: 250px;
  filter: grayscale(50);
  opacity: 0.1;
  transition: 3s;
  transform: rotate(-15deg);
  z-index: auto;
  box-shadow: 3px 3px 3px black;
}
.img4 {
  width: 250px;
  filter: grayscale(50);
  opacity: 0.3;
  transition: 3s;
  transform: rotate(-10deg);
  z-index: auto;
  box-shadow: 3px 3px 3px black;
}
.img5 {
  width: 250px;
  filter: grayscale(50);
  opacity: 0.2;
  transition: 3s;
  transform: rotate(15deg);
  z-index: auto;
  box-shadow: 3px 3px 3px black;
}

.img6 {
  width: 250px;
  filter: grayscale(50);
  opacity: 0.2;
  transition: 3s;
  transform: rotate(30deg);
  z-index: auto;
  box-shadow: 3px 3px 3px black;
}
/* Images:hover */
.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover,
.img5:hover,
.img6:hover {
  filter: none;
  opacity: 1;
  z-index: 1;
  transform: scale(1.3);
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
